/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  height: 100vh;
  overflow: hidden;
}

body, .container, .data {
  display: flex;
  justify-content: center;
  align-items: center;
}

.data-box {
  text-align: center;
}

.data{
  border: 1 solid black;
  width: 12rem;
  height: 5rem;
  background-color: lightgray;
  margin: 1rem;
  color: black;
  border-radius: 1rem;
}