/*Reset*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Default*/
html{
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  border: 2 solid black;
}

.key-form {
  border: 1 solid black;
  width: 40rem;
  height: 20rem;
  background-color: blue;
}

.data {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1 solid black;
  width: 6rem;
  height: 6rem;
  background-color: red;
  margin: .2rem;
}